form {
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
  border-style: outset;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem;
}

input {
  width: 95%;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-style: outset;
  height: 2rem;
}

button {
  width: 95%;
  margin: 10px 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-style: outset;
  height: 2rem;
}

button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}